/* ------------------------------------ */
/*   Custom properties   */
/* ------------------------------------ */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes (use body text as 400 and go up and down from there) */
    --fs-900: clamp(5rem, 9vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}
@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
        --fs-200: 1rem;
    }
}

@media (min-width: 48em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/*  Box sizing  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  Reset margins  */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
}


/*  set up the body */

body {
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    display: grid;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    grid-template-rows: min-content 1fr;
    line-height: 1.56;
    min-height: 100vh;
    overflow-x: hidden;
}

/*  image reset */

img,
picture {
    max-width: 100%; /* images will shrink as space gets narrower */
    display: block; /* corrects spacing issues */
}

/*  make forms easier to work with  */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    background: inherit;
    border: none;
}

/*  remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* ------------------------------------ */
/*   Utility classes   */
/* ------------------------------------ */

/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.display-block {
    display: block;
}

.flow > *:where(:not(:last-child)) { /* vertical rhythm */
    margin-bottom: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

.flow--space-small {
    --flow-space: 1rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .skip-to-content {
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 500ms ease-in;
    z-index: 999;
}

.skip-to-content:focus {
    transform: translateX(0);
}

/*  colors */

.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-accent { background-color: hsl(var(--clr-light));}
.bg-white { background-color: hsl(var(--clr-white));}

.text-dark { color: hsl(var(--clr-dark));}
.text-accent { color: hsl(var(--clr-light));}
.text-white { color: hsl(var(--clr-white));}

/* typography */
.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: 1rem;
    letter-spacing: 4.72px;
    text-transform: uppercase;
}

@media (min-width: 35rem){
    .numbered-title {
        font-size: 1.25rem;
    }
}

@media (min-width: 48rem){
    .numbered-title {
        font-size: 1.75rem;
    }
}

.numbered-title span {
    color: hsla(var(--clr-white) / .25);
    font-weight: 700;
    margin-right: .5em;
}


/* ------------------------------------ */
/*   Components   */
/* ------------------------------------ */


.large-button {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: inline-grid;
    font-size: 2rem;
    padding: 0 2em;
    position: relative;
    place-content: center;
    text-decoration: none;
    z-index: 1;
}

.large-button:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / .25);
    height: 100%;
    opacity: 0;
    width: 100%;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
    z-index:-1;

}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/* primary navigation */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.4rem);
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --ul-space: 2rem;
    background: hsl( var(--clr-dark) / 0.9);
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
    position: relative;
}

@supports(backdrop-filter: blur(2rem)) {
    .primary-navigation {
        background: hsl( var(--clr-white) / 0.05);
        backdrop-filter: blur(2rem);
    }
}

.primary-navigation a {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-300);
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
}

.mobile-nav-toggle {
    display: none;
}

.line {
    display: none;
}

@media (max-width: 35rem){

    .primary-navigation {
        flex-direction: column;
        padding: min(20rem, 11vh) 2rem;
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        --ul-space: 2rem;
        z-index: 10;
    }
    .primary-navigation.underline-indicators > .active {
        border: 0;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        aspect-ratio: 1;
        background: transparent;
        background-image: url('./assets/shared/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        display: block;
        position: absolute;
        z-index: 20;
        right: 1rem;
        top: 2rem;
        width: 1.5rem;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('./assets/shared/icon-close.svg');
    }

    .mobile-nav-toggle:focus-visible {
        outline: 3px solid white;
        outline-offset: 5px;
    }
}
@media (min-width: 35rem){
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35rem) and (max-width: 48rem) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 48rem) {
    .primary-navigation {
        margin-block: 2rem;
    }
    /* Kevin's solution  */
    /* .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background: hsl(var(--clr-white)/0.25);
        order: 1;
        margin-right: -2.5rem;
    }

    nav {
        order: 2;
    } */
    .line {
        display: block;
        flex-grow: 2;
        height: 1px;
        background: hsl(var(--clr-white)/0.25);
        margin-right: -2.5rem;
        z-index: 5;
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--ul-space, 1rem) 0;
    border: 0;
    border-bottom: 4px solid hsl(var(--clr-white) / 0);
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);

}
.tab-list {
    --gap: 2rem;

}

.tab-list > [aria-selected="true"] {
    color:hsl(var(--clr-white));
    border-color: hsl(var(--clr-white) / 1);
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}

.number-indicators {
    justify-content: space-evenly;
    height: 40px;
    width: 40vw;
}

.number-indicators > * {
    aspect-ratio: 1;
    background:hsl(var(--clr-dark));
    border: 1px solid hsl( var(--clr-white) / .5);
    border-radius: 50%;
    color:hsl(var(--clr-white) / 1);
    font-family: var(--ff-serif);
    font-size: var(--fs-600);
    padding: .25rem;
}

.number-indicators > *:hover,
.number-indicators > *:focus {
    border-color: hsl( var(--clr-white) / 1);
}

.number-indicators > [aria-selected="true"] {
    color:hsl(var(--clr-dark));
    background-color: hsl( var(--clr-white) / 1); 
}

/* ------------------------------------ */
/*   Pages   */
/* ------------------------------------ */

/* Home */

body {
    background-size: cover;
    background-position: bottom center;
}

.home {
    background-image: url('./assets/home/background-home-mobile.jpg');
}
@media (min-width: 35rem){
    .home {
        background-image: url('./assets/home/background-home-tablet.jpg');
        background-position: center center;
    }
}
@media (min-width: 48rem){
    .home {
        background-image: url('./assets/home/background-home-desktop.jpg');
        background-position: center center;
    }
}

/* destination */
.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
} 

.crew {
    background-image: url('./assets/crew/background-crew-mobile.jpg');
}

@media (min-width: 35rem){   
    .crew {
        background-image: url('./assets/crew/background-crew-tablet.jpg');
    }
}

@media (min-width: 48rem){
    .crew {
        background-image: url('./assets/crew/background-crew-desktop.jpg');
    }
}

.technology {
    background-image: url('./assets/technology/background-technology-mobile.jpg');
}

@media (min-width: 35rem){   
    .technology {
        background-image: url('./assets/technology/background-technology-tablet.jpg');
    }
}

@media (min-width: 48rem){
    .technology {
        background-image: url('./assets/technology/background-technology-desktop.jpg');
    }
}


/* ------------------------------------ */
/*   Layout   */
/* ------------------------------------ */

.grid-container {
    display: grid;
    padding-inline: 1rem;
    padding-bottom: 4rem;
    place-items: center;
    text-align: center;
}

.grid-container p {
    max-width: 44ch;
}

.numbered-title {
    grid-area: title;
}
@media (min-width: 35rem){
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }
}

/* destination layout */

.grid-container--home {
    padding-bottom: 5rem;
}

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
        padding-bottom: 4rem;
    }

.grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
    align-self: start;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

@media (min-width: 48rem) {
    .grid-container {
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2rem, 1fr)  repeat(2, minmax(0, 35rem)) minmax(2rem, 1fr);
        text-align: left;
    }
    .grid-container--home > *:first-child {
        grid-column: 2;
        /* outline: 1px solid red; */
    }
    
    .grid-container--home > *:last-child {
        grid-column: 3;
        /* outline: 1px solid yellow; */
    }

    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid-container--destination > picture {
        max-width: 80%;
    }
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) / .15);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

@media (min-width: 35rem){
    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media (min-width: 48rem){
    .destination-meta {
        --gap: 4rem;
        justify-content: start;
    }
}

/* Crew */

.grid-container--crew {
    grid-template-areas: 
     'title'
     'image'
     'dots'
     'content';
    /* padding-bottom: 4rem; */
}

.grid-container--crew picture {
    border-bottom: 1px solid hsl(var(--clr-white) / .15);
    grid-area: image;
    max-width: 60%;
}

.dot-indicators {
    grid-area: dots;
    margin-block: 2rem;
}

.grid-container--crew > .crew-info {
    grid-area: content;
}

.crew-info h2 {
    opacity: 0.5;
}

@media (min-width: 35rem){
    .grid-container--crew {
        grid-template-areas:
        'title'
        'content'
        'dots'
        'image';
        padding-bottom: 0;
    }
}

@media (min-width: 48rem){
    
    .grid-container--crew {
        justify-items: start;
        align-content: start;
        grid-template-columns: minmax(2rem, 1fr)  minmax(0, 40rem)  minmax(0, 30rem) minmax(2rem, 1fr);
        grid-template-areas:
        '. title image .'
        '. content image .'
        '. dots image .';
        padding-bottom: 0;
    }
    .grid-container--crew picture {
        margin-top: 2rem;
        max-width: 100%;
        align-self: end;
        /* grid-column: span 2; */
    }
    .grid-container--crew .crew-info {
        margin-block: max(5rem, 8rem);
    }
    .dot-indicators {
        justify-self: start;
    }
}


/* Technology */

.grid-container--technology {
    --flow-space: 2rem;
    grid-template-areas: 
     'title'
     'image'
     'numbers'
     'content';
     padding-inline: 0;
}

.grid-container--technology > .numbered-title {
    padding-inline: 2rem;

}

.grid-container--technology picture {
    grid-area: image;
}

.number-indicators {
    grid-area: numbers;
}

.grid-container--technology > .tech-info {
    grid-area: content;
    padding-inline: 2rem;
}

@media (min-width: 35rem){
    .number-indicators{
        height: 60px;
    }
}

@media (min-width: 48rem){
    
    .grid-container--technology {
        /* justify-items: start; */
        align-content: start;
        column-gap: 5vw;
        grid-template-columns: minmax(2rem, 1fr) 80px  minmax(20vw, 40vw)  minmax(0, 30vw) minmax(2rem, 1fr);
        grid-template-areas:
        '. title title title.'
        '. numbers content image image';
    }

    .grid-container--technology > .numbered-title {
        padding-inline: 0;

    }

    .grid-container--technology > .tech-info {
        margin-block: 5rem;
        padding-inline: 0;
    }
    .number-indicators {
        flex-direction: column;
        height: auto;
        margin-top: 5rem;
        width: 80px;
    }

    .number-indicators > * {
        margin-bottom: 1.5rem;
    }
}
